@CHARSET "ISO-8859-1";

.sidepanel {
	height:100%;
	background: #444;
	float:left;
	box-shadow: 0 1px 5px #000;
}

.sidepanel-content {
	display:none;
}

.sidepanel-header { 
	height:110px;
	padding:20px 10px;
}

.sidepanel-nav {
	padding:10px;
}

.nav-cell {
	height:20px;
	margin:20px 0;
	padding:20px;
	background:inherit;
}

.nav-cell:hover {
	cursor:pointer;
}

.nav-txt {
	font-size: 20px;
	color:#FFF;
	line-height:15px;
	margin-left:10px;
}

.nav-icon {
	width:30px;
	height:30px;
	float:left;
	margin-top:-8px;
	background:url(../images/navicons.png) no-repeat;
}

.dashlist {
	width:100%;
	height:200px;
	display:none;
}