@CHARSET "ISO-8859-1";


/******FONTS******/
/* Museo Sans 500 Font */
@font-face {
    font-family: 'museo-sans-500';
    src: url('../fonts/museosans-500-webfont.eot');
    src: url('../fonts/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-500-webfont.woff') format('woff'),
         url('../fonts/museosans-500-webfont.ttf') format('truetype'),
         url('../fonts/museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}



/******GENERAL******/
/* Styling for basic site modules */

body, h1, h2, h3, h4, a, img {
	padding:0 auto;
	margin:0 auto;
	outline: none;
	border: none;
	font-family: 'museo-sans-500', 'Trebuchet MS', 'Helvetica', sans-serif;
}

.wrapper {
	margin-left: 310px;
	overflow:hidden;
}

.content {
	visibility: hidden;
	min-height:600px;
	margin-top: 60px;
	padding: 15px;
}

.profile-info {
	width: 250px;
	height: 250px;
	margin: 10px;
	padding: 10px;
	border: 3px solid #aaa;
}

.profile-image {
	cursor: pointer;
}

select {
	font: inherit;
}

input {
	font: inherit;
}

#ui-datepicker-div {
	font-size: 15px;
}


/******SETTINGS******/


.settings {
	width: 0;
	height: 100%;
	float: right;
	background: #444;
	color: #fff;
	position: fixed;
	z-index: 10;
	right: 0;
	display:none;
	border-left: 3px solid #ccc;
}

.settings-content {
	margin-top: 20px;
	padding:20px;
}
.settings-content .rowlabel {
	width: 85px;
	font-weight: bold;
}

.settings-content  .profile-image-large {
	border: 3px solid #96AFC5;
}

.settings-content .left-pane {
	width: 150px; 
	height: 100%; 
	float: left; 
	margin: 0px 25px 20px 0px; 
	
}
.settings tr {
	height: 25px;
}