@CHARSET "ISO-8859-1";

/*** TIPSY STYLING from ***/
.tipsy {
    font-size: 10px;
    position: absolute;
    padding: 5px;
    z-index: 1040;
}

/*
.tipsy-inner {
	background-color:rgb(12, 12, 145);
    color: #FFF;
    padding: 5px 8px 4px 8px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border:1px solid #00aeef;
    -webkit-box-shadow:2px 2px 6px #666; 
    -moxbox-shadow:2px 2px 6px #666; 
    box-shadow:2px 2px 6px #666;
}
*/

.tipsy-inner {
background-color: rgba(0, 0, 0, 0.8);
color: #FFF;
/* max-width: 200px; */
padding: 5px 8px 4px 8px;
text-align: center;
border-radius: 23px;
-moz-border-radius: 3px;
border: 1px solid #FFFFFF;
-webkit-box-shadow: 2px 2px 6px #666;
-moxbox-shadow: 2px 2px 6px #666;
box-shadow: 2px 2px 6px -1px #666;
font-weight: normal;
}
 
.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 10px dashed #00aeef;
}


.tipsy-arrow-n {
    border-bottom-color: #eee;
}
.tipsy-arrow-s {
    border-top-color: #eee;
}
.tipsy-arrow-e {
    border-left-color: #eee;
}
.tipsy-arrow-w {
    border-right-color: #eee;
}
 
.tipsy-n .tipsy-arrow {
    top: -5px;
    left: 50%;
    margin-left: -10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
    top: -4px;
    left: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
    top: -5px;
    right: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
    right: -5px;
    top: 50%;
    margin-top: -10px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
    left: -5px;
    top: 50%;
    margin-top: -10px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
} 

.tooltip-content { font-size:14px; max-width:350px; }
.tooltip-content.sm { font-size: 14px; }
.tooltip-content.lg { font-size: 24px; }

.tooltip-body { word-wrap:break-word; font-size:inherit; }

/*
  .tipsy { pointer-events: none; padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; background: url(tipsy.gif) no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
  .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
  .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
  .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
  .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
*/