@CHARSET "ISO-8859-1";

/*** GENERAL WIDGET STYLING ***/

.widget { padding:5px; background:url("../images/widget_bg.png") repeat; clear:both; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; box-shadow: 0px 0px 6px 0px; 
		  -webkit-box-shadow: 0px 0px 6px 0px; -mozbox-shadow: 0px 0px 6px 0px; margin: 10px; }
.widget .widget_header { width: 100%; }
.widget .widget_title { font-size: 1.55em; color: #00aeef; text-shadow: 0 0 3px rgb(0, 173, 255); margin-bottom: 5px; }
.widget .widget_title:hover { cursor:pointer; }
.widget .widget_collapse { float:left; width:20px; }
.widget .widgetView { visibility:'hidden'; }

/*** GENERAL GRAPHING ***/
svg { font: 10px sans-serif; }
svg path { fill:none; stroke:blue; }
svg .axis path { display: none; }
svg .axis line { shape-rendering: crispEdges; stroke: #000; }
svg .axis .minor line { stroke:#777; stroke-dasharray:2,2; }


/*****CSS for DATA FORECAST WIDGET*****/

.dataForecast .widget-content { height: 500px;}
.dataForecast #dataForecastData { width:inherit; height:450px; background:#535151; }

line:hover { opacity: 0.5; }

#drag_rect { position:relative; }
#backrect, .dataForecast { width:600px;}
#backrect { width:540px; padding:0 30px; height:350px; background-color:#CCC; }
#chart { font-size:12px; }
#chart line.data { stroke:grey; stroke-width:5px; }
#chart .xaxis { stroke:grey; stroke-width:5px; }
#chart path { fill:none; }
#draggableLine { cursor:pointer; }

body { font: 12px Helvetica; }

.axisLine { fill: none; stroke-width: 1, stroke: grey; }
.axis hypoPath, .axis trendPath, .axis axisLinem path:hover { opacity: 0.5; }
#line_o path { stroke: black; fill: none; }
#line_trend path.overlay, #line_hypo path.overlay { stroke: white; stroke-opacity: 0; stroke-width: 10; fill: none; }
#tangent { stroke: black; stroke-width: 2; fill: none; }

/*****CSS for PAGE PERFORMANCE WIDGET ****/

.pagePerformance { width:600px; height:320px; }

#websitePerformance-table {
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;	
	background-color:#D5D5D5;	
	//background: -webkit-gradient(linear, center bottom, center top, from(#D0D0D0), to(#CCC));
	color:#505050;
	padding:5px;
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
}
#websitePerformanceSettings th, #websitePerformanceSettings td
{
border-width:5px;
padding:8px;
}
#websitePerformance-table th{
	font:20px, 'Helvetica Neue';	
}
#websitePerformance-table td{
	border-style:solid;
	border-width:1px;
	border-color:#D5D5D5;	
}
#websitePerformanceSettings th:hover{
	background-color:#C0C0C0;		
}
#websitePerformanceSettings td:hover{
	background-color:#C0C0C0;	
}

#websitePerformanceSettings tbody tr:last-child td {
  border-bottom:none;
  &:first-child {
    @include border-bottom-left-radius(5px);
  }
  &:last-child {
    @include border-bottom-right-radius(5px);
  }
}

#websitePerformanceSettings tbody:hover > tr:hover td {
  @include text-shadow(none);
  color:#2d2d2d;
  @include opacity(0.5); 
  font-weight:bold;
}



/*****CSS for KEY CONTRIBUTING FACTORS WIDGET ****/

.keyContributingFactors{ width:600px; height:350px;}

#keyContributingFactors-table {
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;
	height:350px;		
	background-color:#D5D5D5;	
	color:#505050;
}

.keyContributingFactorsChart{
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;	
	background-color:#D5D5D5;	
	color:#505050;
	
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
	
	padding:15px;
	height:285px;
}

.chart-background{
	width:100%;
	height:100%;
	background:#F0F0F0;
	float:right;
}

.column{
	width: 50px;
	height: 100%;
	margin: 230px 20px;
	float: left;
	position:relative;
}

.column .fill{
	width: 100%;
	position: absolute;
	bottom: 50px;
}

.column:hover {
	@include text-shadow(none);
	color: #2d2d2d;
	font-weight: bold;
	
	-webkit-transform: translateZ(0);
	font-size: 12px;
	position: relative;
	border : 2px solid;
	padding: 0px;
	background-color: #FFF;
	opacity: 0.8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid;
}

.label{
	text-align: center;
}


.legend-wrapper{
	width:150px;
	height:150px;
	background:#F0F0F0;
	float:right;
	position:relative;
	left:-75px;
}
.legend{
	width:10px;
	height:10px;
	margin: 0px 5px 5px 20px;
	position:relative;
}
.legend .fill-legend{
	width: 100%;
	position: absolute;
}

.legend .inline{	
	width:100px;
	white-space:nowrap;
	overflow:hidden;
	margin: 15px 20px;
}



#keyContributingFactors-wrapper{	
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;		
	background-color:#D5D5D5;	
	color:#505050;
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
}



/*****CSS for GROWING PROBLEMS WIDGET ****/

.growingProblems { width:600px; height:350px; }

.growingProblemsChart {
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;	
	background-color:#D5D5D5;	
	color:#505050;
	padding:15px;
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
	width:100%;
	height:285px; 	
}

#growingProblemsSettings th, #growingProblemsSettings td{
	border-width:5px;
	padding:8px;
	width:100%;	
}

#growingProblems-table {
    border-spacing: 1em;
}
#growingProblems-table th{
	font:20px, 'Helvetica Neue';	
}
#growingProblems-table td{
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
}
#growingProblems-table tr {
	padding:10px;
}

#growingProblemsSettings th:hover{
	background-color:#C0C0C0;		
}
#growingProblemsSettings td:hover{
	background-color:#C0C0C0;	
}

#growingProblemsSettings tbody tr:last-child td {
  border-bottom:none;
  &:first-child {
    @include border-bottom-left-radius(5px);
  }
  &:last-child {
    @include border-bottom-right-radius(5px);
  }
}

#growingProblemsSettings tbody:hover > tr:hover td {
  @include text-shadow(none);
  color:#2d2d2d;
  @include opacity(0.5); 
  font-weight:bold;
}

#trafficSource{
	background-color: #33CCFF;
}
#conversionRate{
	background-color: #33CCFF;
}
#visits {
	background-color: #CC0066;
	color: white;	
}


/*****CSS for BOOST PERFORMANCE WIDGET ****/
.boostPerformance{ width:600px; height:350px;}

#boostPerformance-table {
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;
	height:285px;		
	background-color:#D5D5D5;	
	color:#505050;
}

.boostPerformanceChart{
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;	
	background-color:#D5D5D5;	
	color:#505050;
	
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
	
	padding:15px;
}

.bp-background{
	width:100%;
	height:100%;
	background:#F0F0F0;
	float:right;
}

.bp-wrapper{	
	position: absolute;
	width: 550px;
	margin-top: 15px;
	padding: 10px 15px;
	
	background: #fff;
	border-left: 5px solid grey;	
}

.bp-box {
  display: none;
}

.bp-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.bp-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.bp-box:checked + label + div {
  display: block;
}

.bp-box + label:before {
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 100%;
}

