@CHARSET "ISO-8859-1";

/*** GENERAL WIDGET STYLING ***/

.widget { padding: 10px 5px 5px 5px; background:#d2d2d2 repeat; clear:both; /*border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;*/ box-shadow: 0px 0px 6px 0px; 
		  -webkit-box-shadow:0px 0px 6px 0px; -mozbox-shadow:0px 0px 6px 0px; margin:5px 0 5px 10px; }
.widget .widget_header { padding:0 20px; position:relative; height:40px; }
.widget .widget_title { position:absolute; font-size:2em; color:#444; margin-bottom:5px; font-weight:bold; text-shadow: 0px -1px 0px rgba(100,100,100,0.5); }
.widget .dropdown { position:absolute; right:20px; top:10px; }
.widget .widget_menu { font-size:16px; color:#666; }
.widget .widget_menu:hover { cursor:pointer; text-decoration:none; }
.widget .widget_title:hover { cursor:pointer; }
.widget .widget_collapse { float:left; width:20px; }
.widget .widgetView { visibility:'hidden'; }

/*** GENERAL GRAPHING ***/
svg { font: 10px sans-serif; }
svg path { fill:none; stroke:blue; stroke-width:3; }
svg line { stroke:black; }
svg .axis path { display: none; }
svg path.domain { stroke:#333; stroke-width:2; }


/*****CSS for DATA FORECAST WIDGET*****/
.dataForecast { width:1000px; }
.dataForecast .widget-content { width:990px;}
.dataForecast #dataForecastData { width:inherit; height:280px; background:#d2d2d2; }
.dataForecast .controls { padding: 0 30px 5px 45px; }
.dataForecast div.graph-legend { width:500px; height:20px; clear:both; }
.dataForecast div.graph-legend ul { margin-left:6px; list-style:none; }
.dataForecast li.graph-legend { width:120px; background:#FF000; float:left; text-transform:uppercase; display:none;}
.dataForecast li.graph-legend.active { display:block; }
.dataForecast .controls .left { float:left; }
.dataForecast .controls .right { float:right; }

.dataForecast svg .raw { stroke:#00aeef; }
.dataForecast svg circle.raw { fill:#00aeef; }
.dataForecast svg .raw.plot { display:none; }
.dataForecast svg .raw.alternate { stroke:#cc3399; display:none; }
.dataForecast svg circle.raw.alternate { fill:#cc3399; }
.dataForecast svg .raw.plot.active { display:block; }
.dataForecast svg .raw.alternate.active { display:block; }
.dataForecast svg .raw.legend { stroke:none; display:none; }
.dataForecast svg .raw.legend.active { display:block; }

.dataForecast svg .smooth { stroke:green; }
.dataForecast svg circle.smooth { fill:green; }
.dataForecast svg .smooth.plot { display:none; }
.dataForecast svg .smooth.alternate { stroke:#cc3399; display:none; }
.dataForecast svg circle.smooth.alternate { fill:#cc3399; }
.dataForecast svg .smooth.plot.active { display:block; }
.dataForecast svg .smooth.alternate.active { display:block; }
.dataForecast svg .smooth.legend { stroke:none; display:none; }
.dataForecast svg .smooth.legend.active { display:block; }

.dataForecast svg .normal {stroke:orange; }
.dataForecast svg circle.normal { fill:orange; }
.dataForecast svg .normal.plot {display:none; }
.dataForecast svg .normal.alternate { stroke:#cc3399; display:none; }
.dataForecast svg circle.normal.alternate { fill:#cc3399; }
.dataForecast svg .normal.plot.active { display:block; }
.dataForecast svg .normal.alternate.active { display:block; }
.dataForecast svg .normal.legend { stroke:none; display:none; }
.dataForecast svg .normal.legend.active { display:block; }

.dataForecast .btn.active { background:#00aeef; }
.dataForecast .btn { &:hover { background-color:none; } }
.dataForecast .controls .noise { height:inherit; vertical-align:middle; position:relative; margin-left:20px; padding-top:3px; }
.dataForecast .controls .noise input[type='checkbox'] { vertical-align:middle; }
.dataForecast .controls .noise label { margin-top:3px; }
.dataForecast svg line .dateLine { stroke-width:3; stroke:#666; }

.tipsy {
    font-size: 10px;
    position: absolute;
    padding: 5px;
    z-index: 100000;
}
.tipsy-inner {
    background-color: #000;
    color: #FFF;
    max-width: 200px;
    padding: 5px 8px 4px 8px;
    text-align: center;
}
 
/* Rounded corners */
.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
 
.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #FFF;
}
 
/* Rules to color arrows */
.tipsy-arrow-n {
    border-bottom-color: #000;
}
.tipsy-arrow-s {
    border-top-color: #000;
}
.tipsy-arrow-e {
    border-left-color: #000;
}
.tipsy-arrow-w {
    border-right-color: #000;
}
 
.tipsy-n .tipsy-arrow {
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}


line:hover { opacity: 0.5; }

.axisLine { fill: none; stroke-width: 1, stroke: grey; }
.axis hypoPath, .axis trendPath, .axis axisLinem path:hover { opacity: 0.5; }
#line_o path { stroke: black; fill: none; }
#line_trend path.overlay, #line_hypo path.overlay { stroke: white; stroke-opacity: 0; stroke-width: 10; fill: none; }
#tangent { stroke: black; stroke-width: 2; fill: none; }

/*****CSS for PAGE PERFORMANCE WIDGET ****/
.pagePerformance{ width:600px;}
.pagePerformance .widget-content{ width:590px; height:350px; }

#websitePerformance-table {
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;	
	background-color:#D5D5D5;	
	//background: -webkit-gradient(linear, center bottom, center top, from(#D0D0D0), to(#CCC));
	color:#505050;
	padding:5px;
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
}
#websitePerformanceSettings th, #websitePerformanceSettings td
{
border-width:5px;
padding:8px;
}
#websitePerformance-table th{
	font:20px, 'Helvetica Neue';	
}
#websitePerformance-table td{
	border-style:solid;
	border-width:1px;
	border-color:#D5D5D5;	
}
#websitePerformanceSettings th:hover{
	background-color:#C0C0C0;		
}
#websitePerformanceSettings td:hover{
	background-color:#C0C0C0;	
}

#websitePerformanceSettings tbody tr:last-child td {
  border-bottom:none;
  &:first-child {
    @include border-bottom-left-radius(5px);
  }
  &:last-child {
    @include border-bottom-right-radius(5px);
  }
}

#websitePerformanceSettings tbody:hover > tr:hover td {
  @include text-shadow(none);
  color:#2d2d2d;
  @include opacity(0.5); 
  font-weight:bold;
}



/*****CSS for KEY CONTRIBUTING FACTORS WIDGET ****/

.keyContributingFactors{ width:600px;}
.keyContributingFactors .widget-content{ width:590px; height:350px; }

.keyContributingFactorsChart{
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;	
	background-color:#D5D5D5;	
	color:#505050;
	
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
	
	padding:15px;
	height:285px;
}

.chart-background{
	width:100%;
	height:100%;
	background:#F0F0F0;
	float:right;
}

.column{
	width: 50px;
	height: 100%;
	margin: 230px 20px;
	float: left;
	position:relative;
}

.column .fill{
	width: 100%;
	position: absolute;
	bottom: 50px;
}

.column:hover {
	@include text-shadow(none);
	color: #2d2d2d;
	font-weight: bold;
	
	-webkit-transform: translateZ(0);
	font-size: 12px;
	position: relative;
	border : 2px solid;
	padding: 0px;
	background-color: #FFF;
	opacity: 0.8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid;
}

.label{
	text-align: center;
}


.legend-wrapper{
	width:150px;
	height:150px;
	background:#F0F0F0;
	float:right;
	position:relative;
	left:-75px;
}
.legend{
	width:10px;
	height:10px;
	margin: 0px 5px 5px 20px;
	position:relative;
}
.legend .fill-legend{
	width: 100%;
	position: absolute;
}

.legend .inline{	
	width:100px;
	white-space:nowrap;
	overflow:hidden;
	margin: 15px 20px;
}




/*****CSS for GROWING PROBLEMS WIDGET ****/
/*****CSS for GROWING PROBLEMS WIDGET ****/
.growingProblems { width:600px; }
.growingProblems .widget-content{ width:590px; height:350px; }

.growingProblemsChart {
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;	
	background-color:#D5D5D5;	
	color:#505050;
	padding:15px;
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
	width:100%;
	height:285px; 	
}

.growingProblemsChart th, .growingProblemsChart  td{
	border-width:5px;
	padding:8px;
	width:100%;	
}

.growingProblemsChart  {
    border-spacing: 1em;
}
.growingProblemsChart  th{
	font:20px, 'Helvetica Neue';	
}
.growingProblemsChart  td{
	border-style:solid;
	border-width:5px;
	border-color:#D5D5D5;
}
.growingProblemsChart  tr {
	padding:10px;
}

.growingProblemsChart  th:hover{
	background-color:#C0C0C0;		
}
.growingProblemsChart  td:hover{
	background-color:#C0C0C0;	
}

.growingProblemsChart  tbody tr:last-child td {
  border-bottom:none;
  &:first-child {
    @include border-bottom-left-radius(5px);
  }
  &:last-child {
    @include border-bottom-right-radius(5px);
  }
}

.growingProblemsChart  tbody:hover > tr:hover td {
  @include text-shadow(none);
  color:#2d2d2d;
  @include opacity(0.5); 
  font-weight:bold;
}

#trafficSource{
	background-color: #33CCFF;
}
#conversionRate{
	background-color: #33CCFF;
}
#visits {
	background-color: #CC0066;
	color: white;	
}

/*****CSS for BOOST PERFORMANCE WIDGET ****/
.boostPerformance { width:600px; }
.boostPerformance .widget-content{ width:590px; height:350px; }

#boostPerformance-table {
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;
	height:285px;		
	background-color:#D5D5D5;	
	color:#505050;
}

.boostPerformanceChart{
	font: 16px/16px 'Helvetica Neue', Arial, sans-serif;	
	background-color:#D5D5D5;	
	color:#505050;
}


.bp-background{
	width:100%;
	height:100%;
	background:#F0F0F0;
	float:right;	
}

.bp-box{	
	position: absolute;
	width: 300px;
	margin-top: 15px;
	padding: 10px;
	
	background: #fff;
	border-left: 5px solid grey;	
}

.bp-content {
  display: none;  
}

.bp-box {
	padding-bottom: 10px;
}


.bp-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.bp-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.bp-box:checked + label + div {
  display: block;
}

.bp-box + label:before {
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 100%;
}

