<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"  
 xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/security  
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
           
 <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder">
 	<beans:constructor-arg value="256"/>
 </beans:bean>
 
 <!-- Exempted pages --> 
 <http pattern="/cache/**" security="none"/> 
 <http pattern="/" security="none"/>
 <http pattern="/login*" security="none"/>
 <http pattern="/signout" security="none"/>
 <http pattern="/accounts/**" security="none"/>

<!-- Intercepts the URL and performs an access check -->
 <http auto-config="true" use-expressions="true">
  <intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
  <form-login login-page="/login"
  			  authentication-failure-url='/login?errors=1' 
  			  default-target-url="/application/HypotheticalFuture/"/>
  <logout logout-success-url="/" />
 </http>  
 
 <!-- Custom Authentication Bean that gets ran upon validation from login --> 
 <authentication-manager alias="authenticationManager">
   <authentication-provider user-service-ref="customAuthentication" />
 </authentication-manager>
  
</beans:beans>  